
@page "/"
@using PlcLab.OPC
@inject OpcUaClientFactory UaFactory
@inject IConfiguration Configuration

<h4>Welcome to PlcLab</h4>
<p>OPC UA.</p>

@code {
  protected override async Task OnInitializedAsync()
  {
    var endpoint = Configuration["OpcUa:Endpoint"] ?? "opc.tcp://localhost:4840";
    try { await UaFactory.ConnectAsync(endpoint); }
    catch { }
  }
}
